{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Смотреть «{% if series.enTitle %}{{ series.enTitle }}{% if series.ruTitle %} ({{ series.ruTitle }}){% endif %}{% else %}{{ series.ruTitle }}{% endif %}» в оригинале с английскими субтитрами{% endblock%}
{% block keywords %}, смотреть {% if series.enTitle %}{{ series.enTitle }}{% if series.ruTitle %}, {{ series.ruTitle }}{% endif %}{% else %}{{ series.ruTitle }}{% endif %}, английские субтитры{% endblock %}
{% block description %}{% if series.enDescription %}{{ series.enDescription }}{% else %}{{ series.ruDescription }}{% endif %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/video/css/social-likes_birman.css') }}">
{% endblock %}

{% block body %}

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" title="{{ series.ruTitle }}">{% if series.enTitle %}{{ series.enTitle }}{% else %}{{ series.ruTitle }}{% endif %}
                {% if series.startYear %}<small>{{ series.startYear }}{% if series.finishYear and series.startYear != series.finishYear %} - {{ series.finishYear }}{% endif %}</small>{% endif %}
            </h1>
            <ol class="breadcrumb">
                <li class="active">{% if series.enTitle %}{{ series.enTitle }}{% else %}{{ series.ruTitle }}{% endif %}</li>
                {% if series.genresStr %}
                    <li class="active">{{ series.genresStr }}</li>
                {% endif %}
                {% if series.tagsStr %}
                    <li class="active">{{ series.tagsStr }}</li>
                {% endif %}
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive poster" src="{% if series.getPoster %}{% path series.getPoster, 'big' %}{% else %}{{ series.posterUrl }}{% endif %}" alt="{% if series.ruTitle %}{{ series.ruTitle }}{% else %}{{ series.enTitle }}{% endif %}" title="{% if series.ruTitle %}{{ series.ruTitle }}{% else %}{{ series.enTitle }}{% endif %}">
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs nav-description">
                {% if series.enDescription %}
                <li role="presentation"><a href="#">En</a></li>
                {% endif %}
                {% if series.ruDescription %}
                    <li role="presentation"><a href="#">Ru</a></li>
                {% endif %}
            </ul>
            {% if series.enDescription %}
                <p id="en_desc" class="series_desc" style="display: none">
                    {{ series.enDescription|raw|nl2br }}
                </p>
            {% endif %}
            {% if series.ruDescription %}
                <p id="ru_desc" class="series_desc" style="display: none">
                    {{ series.ruDescription|raw|nl2br }}
                </p>
            {% endif %}

            <script>
                $(function(){
                    $('.nav-description li').eq(0).addClass('active');
                    $('.series_desc').eq(0).show();
                    $('.nav-description li a').click(function(){
                        $('.nav-description li').removeClass('active');
                        $('.series_desc').hide();
                        var el = $(this);
                        el.parent().addClass('active');
                        $('#' + el.text().toLowerCase() + '_desc').show();
                        return false;
                    });
                });
            </script>

            <div id="share_word" class="social-likes" data-url="https://myskills.pro/{{ type }}/{{ series.code }}">
                <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                <div class="twitter" data-via="anisubtv" title="Поделиться ссылкой в Твиттере">Twitter</div>
                <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
                <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr />

    {% if type != 'clip' and series.type == 'series' and series.episodesCnt %}

        <div class="row">

            <div class="col-md-12">

                <ul class="nav nav-pills nav-series">
                    {% for season in seasons %}
                        <li class="nav-season-{{ season }}" role="season"><a data-season="{{ season }}" href="#">{{ season }} season</a></li>
                    {% endfor %}
                </ul>

            </div>

        </div>

        <hr />

    {% endif %}

    <!-- Service Tabs -->
    <div class="row">
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="tab-content">
                {% if series.episodesCnt %}
                    {% if episode %}
                        {{ include('MyskillsBundle:Video:video.html.twig') }}
                    {% else %}
                        <div class="col-lg-12" style="color: #999; text-align: center"><h3>Такой серии нет...</h3></div>
                    {% endif %}
                {% else %}
                    <div class="col-lg-12" style="color: #999; text-align: center"><h3>Серий пока нет...</h3></div>
                {% endif %}
            </div>
            <hr />
            <div id="hypercomments_widget"></div>
            <script type="text/javascript">
                _hcwp = window._hcwp || [];
                _hcwp.push({widget:"Stream", widget_id: 90166, xid: 'series_{{ series.id }}_{{ series.code }}'});
                (function() {
                    if("HC_LOAD_INIT" in window)return;
                    HC_LOAD_INIT = true;
                    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/90166/"+lang+"/widget.js";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hcc, s.nextSibling);
                })();
            </script>
            <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
        </div>
    </div>
        
{% endblock%}
{% block javascripts %}
    <script src="{{ asset('bundles/video/js/social-likes.min.js') }}"></script>
{% endblock %}