{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}Вход{% endblock%}

{% block body %}
    <div class="row">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h2 class="panel-title">Вход</h2>
            </div>

            <div class="panel-body">

                {% if error %}
                    <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post" role="form"
                      class="form-horizontal">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group">
                        <label for="username"
                               class="col-sm-2 control-label">Логин</label>

                        <div class="col-sm-10"><input type="text" class="form-control" id="username"
                                                              name="_username" value="{{ last_username }}"
                                                              required="required"/></div>
                    </div>


                    <div class="form-group control-group">
                        <label for="password"
                               class="col-sm-2 control-label">Пароль</label>

                        <div class="col-sm-10"><input type="password" class="form-control" id="password"
                                                              name="_password" required="required"/></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox control-group">
                                <label for="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="text-align: center; line-height: 3em;">
                        <ul class="social_list">
                            <li><a title="Войти через facebook" href="/login/facebook"><img src="/bundles/video/images/fb.png" /></a></li>
                        </ul>
                    </div>

                    <div class="form-group control-group">
                        <div style="text-align: center; line-height: 3em;">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                   value="Войти"/>
                            <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                            <a class="btn btn-default" href="{{ path('fos_user_resetting_request') }}">Не могу вспомнить пароль</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
