{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}{% endblock%}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</h2>
    </div>
    <div class="panel-body">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                {% endif %}
                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="username" required="required" />
            </div>
            <div>
                <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
{% endblock body %}