{% extends 'MyskillsBundle:Video:base.html.twig' %}
{% block title %}{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}{% endblock%}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</h2>
    </div>
    <div class="panel-body">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
{% endblock body %}